# Delphi Football Analytics

### Q
* The name of the team
* The total number of goals scored by the team during the 2011 season
* The total number of wins the team earned during the 2011 season
* A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly)
* The team's win percentage on days where it was raining during games in the 2011 season. 

1. Import sql and get data from database .
2. import pandas covert database to (pandas dataframe).
3. import matplotlip and visualise data as pyplot (plt)
4. Request to get API .(URL) to get data 
5. Create Classes (name)
6. save no nosql database

In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import json
%matplotlib inline
import numpy as np 
import requests

In [17]:
# Creating a variable to access data 
conn = sqlite3.connect('database.sqlite')
cursor = conn.cursor()

In [20]:
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print (name[0])

sqlite_sequence
Matches
Teams_in_Matches
Teams
Unique_Teams

In [21]:
#c is the variable equals to cursor.execute
c = cursor.execute("""
            SELECT * FROM Matches
            WHERE Season == 2011
            AND Div != 'E0'
            """)

df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.head()

   Match_ID Div  Season        Date   HomeTeam       AwayTeam  FTHG  FTAG FTR
0      1092  D1    2011  2012-03-31   Nurnberg  Bayern Munich     0     1   A
1      1093  D1    2011  2011-12-11  Stuttgart  Bayern Munich     1     2   A
2      1094  D1    2011  2011-08-13  Wolfsburg  Bayern Munich     0     1   A
3      1095  D1    2011  2011-11-27      Mainz  Bayern Munich     3     2   H
4      1096  D1    2011  2012-02-18   Freiburg  Bayern Munich     0     0   D

In [4]:
df.columns

Index(['Match_ID', 'Div', 'Season', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG',
       'FTAG', 'FTR'],
      dtype='object')

In [5]:
df.head()

   Match_ID Div  Season        Date   HomeTeam       AwayTeam  FTHG  FTAG FTR
0      1092  D1    2011  2012-03-31   Nurnberg  Bayern Munich     0     1   A
1      1093  D1    2011  2011-12-11  Stuttgart  Bayern Munich     1     2   A
2      1094  D1    2011  2011-08-13  Wolfsburg  Bayern Munich     0     1   A
3      1095  D1    2011  2011-11-27      Mainz  Bayern Munich     3     2   H
4      1096  D1    2011  2012-02-18   Freiburg  Bayern Munich     0     0   D

In [6]:
c = cursor.execute("""
            SELECT * FROM Matches
            LIMIT 4; """)
Teams_in_Matches_df = pd.DataFrame(c.fetchall())
Teams_in_Matches_df.columns = [x[0]for x in c.description]
Teams_in_Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H

In [7]:
#create a dummy variable (dummy)
dummy = pd.get_dummies(df['FTR'])
dummy.columns = ['Loss','Draw','Win']
dummy.head()

   Loss  Draw  Win
0     1     0    0
1     1     0    0
2     1     0    0
3     0     0    1
4     0     1    0

In [8]:
#concatenate the data with pd concat method  
df_homes = pd.concat([df,dummy], axis=1,join='inner')
df_homes.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Loss,Draw,Win
0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,1,0,0
1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,1,0,0
2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,1,0,0
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,0,0,1
4,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,0,1,0

In [9]:
dfh = df_homes.groupby('HomeTeam').sum()

In [10]:
dfa = df_homes.groupby('AwayTeam').sum()

In [11]:
dfnew = dfa
dfnew['Total_Goals'] =  dfh['FTHG'] + dfa['FTAG']
dfnew.head()

               Match_ID  Season  FTHG  FTAG  Loss  Draw  Win  Total_Goals
AwayTeam
Aachen            26214   34187    23    15     2     7    8           30
Augsburg          27659   34187    30    16     2     7    8           36
Bayern Munich     18700   34187    16    28     9     3    5           77
Bochum            23035   34187    32    18     3     4   10           41
Braunschweig      26792   34187    20    16     4     7    6           37

In [12]:
dfnew['Total_Goals'] = dfa['FTAG'] + dfh['FTHG']
dfnew.head()

               Match_ID  Season  FTHG  FTAG  Loss  Draw  Win  Total_Goals
AwayTeam
Aachen            26214   34187    23    15     2     7    8           30
Augsburg          27659   34187    30    16     2     7    8           36
Bayern Munich     18700   34187    16    28     9     3    5           77
Bochum            23035   34187    32    18     3     4   10           41
Braunschweig      26792   34187    20    16     4     7    6           37

In [22]:
df_loss = ['Total_Goals'] = dfa['FTAG'] + dfh['FTHG']
defnew.head()

SyntaxError: can't assign to literal (<ipython-input-22-0b50ab3d525b>, line 1)

In [ ]:
key = '90e2937454f78fc8a3aa3f6f0bcad17d'
latitude = '52.520008'
longitude = '13.404954'
timestamp = '255589200'

In [ ]:
r = requests.get(f'https://api.darksky.net/forecast/{key}/{latitude},{longitude},{timestamp}')

In [ ]:
r.json()

In [ ]:
r.json()['hourly']['data'][0]["temperature"]

In [ ]:
r.json()['currently']['icon']

In [ ]:
import seaborn as sns
sns.set(style='whitegrid')  #'darkgrid'
sns.set_context('poster')

In [ ]:
plt.figure(figsize=(30,20))  # set size of table

ax = sns.barplot(data=df_homes, 
                x = 'Win',
                y = 'HomeTeam').set_title('Home Wins')

In [ ]:
plt.figure(figsize=(30,20))  # set size of table

ax = sns.barplot(data = df_Awaylosses, 
                x = 'loss',
                y = 'AwayTeam').set_title('Away loss')

In [ ]:
# find away losses
c.execute('''SELECT AwayTeam AS Team, COUNT(FTR) AS AwayLosses
               FROM Matches
               Where Season = 2011
               AND FTR = 'H'
               AND NOT Div ='E0'
               GROUP BY AwayTeam
               ;''')
AwayLosses_df = pd.DataFrame(c.fetchall())
AwayLosses_df.columns = [x[0] for x in c.description]
AwayLosses_df.head()

In [ ]:
c.execute('''SELECT HomeTeam AS Team, COUNT(FTR) AS HomeLosses
               FROM Matches
               Where Season = 2011
               AND FTR = 'H'
               AND NOT Div ='E0'
               GROUP BY HomeTeam
               ;''')
HomeLosses_df = pd.DataFrame(c.fetchall())
HomeLosses_df.columns = [x[0] for x in c.description]
HomeLosses_df.head()

In [ ]:
dfTotal_loss['TotalLoss'] = HomeLosses_df.HomeLosses + AwayLosses_df.AwayLosses

In [ ]:
dfTotal_loss.head()

In [ ]:
plt.figure(figsize=(30,20))  # set size of table

ax = sns.barplot(data=dfTotal_loss, 
                x = 'TotalLoss',
                y = 'Team').set_title('Total Loss')

In [ ]:
#df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
dt.Date

In [ ]:
df.Date.head()

In [ ]:
dfnew = df
dfnew['Date'] = pd.to_datetime(df['Date'])

In [ ]:
from datetime import datetime

In [ ]:
def get_seconds(date):
        dapi = datetime(1970, 1, 1, 18, 00)
        d = int((date - dapi).total_seconds())
        return d

In [ ]:
for date in df.loc['Date']:
    seconds = get_seconds(date)
    r = requests.get(f'https://api.darksky.net/forecast/{key}/{latitude},{longitude},{seconds}')
    if 'icon' in r.json()['currently'].keys():
        dfnew['weather'] = r.json()['currently']['icon']
    else:
        dfnew['weather'] = 'sunny'

In [ ]:
dfnew.head()